{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center ">
        <div class="col-8  align-self-center">
            <div class="card mb-5" style="max-width: 700px;">
                <img src="{{post.content.first.file.url}}" height="700px" class="card-img-top" alt="...">
                <div class="card-body">
                    <div class="card__name">
                        <div class="card__small_profile">
                            <img class="story__image" src="{{profile.picture.url}}" alt="...">
                            <div class="card__username">
                                <h3>{{post.user.username}}</h3>
                                <p><strong>@{{post.user.username}}</strong></p>
                            </div>
                        </div>
                        <div class="card__likes">
                            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="currentColor"
                                class="bi bi-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                            </svg>
                            <p>{{post.likes}} likes</p>
                        </div>
                    </div>

                    <p class="card-text">
                        {% for tag in post.tags.all %}
                        <em>
                            <i>
                                <a href="{% url 'tag.get_absolute_url' }">
                                        
                                        #{{tag}}
                                </a>
                            </i>
                        </em>
                        {%endfor%}
                        <br>
                        {{post.caption}}
                    </p>
                    

                    <p class=" card-text">
                                    <small class="text-muted">
                                        <time datetime="2020-1-1">{{post.posted}}</time>
                                        ago
                                    </small>
                    </p>
                </div>
                <div class="mx-4">

                    <form method="post" role="form">
                        {% csrf_token %}

                        <!-- <input type="text" class="form-control" id="comment"
                            aria-describedby="commentHelp" placeholder="Enter comment"> -->
                        {{form.comment}}
                        <button class="btn btn-primary" type="submit">Comment</button>
                    </form>
                </div>
                {% for c in comment %}

                <div class="card__name">
                    <div class="card__small_profile">
                        <img height="50px" width="50px" src="{{c.user.profile.picture.url}}" alt="...">
                        <div class="card__username">
                            <h5>{{c.user.username}}</h5>

                            <h3 class="mt-2">
                                <i>
                                    {{c.comment}}
                                </i>
                            </h3>
                            <small>
                                <strong>
                                    {{c.date}}
                                </strong>
                            </small>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock %}