{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class=" mx-auto">
            <!-- Profile widget -->
            <div class="bg-white shadow rounded overflow-hidden">
                <div class="px-4 pt-0 pb-4 cover">
                    <div class="media align-items-end profile-head">
                        <div class="profile mr-3">
                            {% if profile.picture %}
                            <img src="{{ profile.picture.url }}" alt="..." width="130"
                                class="rounded mb-2 img-thumbnail">
                            {% else %}
                            <img src="https://images.unsplash.com/photo-1522075469751-3a6694fb2f61?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                                alt="..." width="130" class="rounded mb-2 img-thumbnail">
                            {% endif %}
                            <div class="media-body mb-5 text-white">
                                <h4 class="mt-0 mb-0">{{ profile.first_name }}{{" "}}{{profile.last_name}}</h4>
                                <small class="mt-0 mb-0"><em>@{{ profile.user }}</em></small>
                                <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i>{{profile.location}}
                                </p>
                            </div>
                            <a href="#" class="btn btn-outline-dark btn-sm btn-block ">Edit profile</a>
                        </div>
                    </div>
                </div>
                <div class="bg-light p-4 d-flex justify-content-end text-center">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ posts_count }}</h5><small class="text-muted">
                                <i class="fas fa-image mr-1"></i>Post</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ following_count }}</h5><small
                                class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                        </li>
                        <li class="list-inline-item">
                            <h5 class="font-weight-bold mb-0 d-block">{{ followers_count }}</h5><small
                                class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                        </li>
                    </ul>
                </div>
                <div class="px-4 py-3">
                    <h5 class="mb-0">About</h5>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="font-italic mb-0">{{profile.profile_info}}</p>
                    </div>
                </div>
                <div class="py-4 px-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <h5 class="mb-0">Recent photos</h5><a href="#" class="btn btn-link text-muted">Show all</a>
                    </div>



                    <div class="container">
                        <div class="row">
                            {% for post in posts %}
                            <!-- {% cycle 'odd' 'even' %} -->
                            {% if cycle == 'odd' %}
                            <div class="col">
                                <img src="{{post.content.first.file.url}}" alt="" class="img-fluid rounded shadow-sm">

                            </div>
                            {% else %}
                            <div class="col">
                                <img src="{{post.content.first.file.url}}" alt="" class="img-fluid rounded shadow-sm">

                            </div>
                            {% endif %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}